@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="font-family: ralewayregular">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 h4">
        <ul style="margin-bottom: 10px">
            <li>Tags</li>
            <li>First Category</li>
            <li>Second Category</li>
            <li>Third</li>
        </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
        <div class="row" style="margin: 10px; margin-bottom: 50px; margin-top: 50px">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    1
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    2
                    <img src="../../Images/1.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    3
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    4
                    <img src="../../Images/1.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    5
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    6
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    7
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    8
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    9
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    10
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    11
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    12
                    <img src="../../Images/1.jpg" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="my-thumb">
                    13
                    <img src="../../Images/1.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>
    